@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #ffffe3;
	/* background-image: url('/Background.png'); */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
